.gradle
.DS_Store
.externalNativeBuild

/.idea/*
!/.idea/codeStyles/

/build
/build-cache
/captures
/app/google-services.json

/keystore.properties
/firebase.properties
/local.properties

*.apk
*.aab
*.iml

/app/build
/app/google-services.json
/app/release/
/app/debug/